<div id="<%= dom_id movie %>">
  <p>
    <strong>Tmdb:</strong>
    <%= movie.tmdb_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= movie.name %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= movie.info %>
  </p>

</div>
