<div class="container">
  <h3> Recently searched movies:</h3>
  <div id="tiles">
    <% count = 0 %> 
    <% Movie.all.each do |movie| %>
      <% count += 1 %>
      <%= render "movies/tiled_posters", movie: movie %>
      <% break if count == 12 %>
    <% end %>
  </div>
</div>
