<%= @user.inspect %>
<br />
<% $streamers.each do |st| %>
  <%= st %>
  <%= @user.streamer.send st[0] %>
<% end %>
<div id="tiles">
  <% @user.saves.each do |movie| %>
    <%= render "movies/tiled_posters", movie: Movie.find(movie.movie_id) %>
  <% end %>
</div>
