<%= form_with(model: streamer) do |form| %>
  <% if streamer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(streamer.errors.count, "error") %> prohibited this streamer from being saved:</h2>

      <ul>
        <% streamer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
