
#tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(160px));
  justify-content: center;
  gap: 5px;
  padding: 20px;
}

.poster {
  border-radius: 3px;
}
.poster:hover {
  opacity: 70%;
}
a:hover {
  opacity: 70%;
}
.nav_username {
  margin-right: 5px;
}
#toggles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}
.menu_img {
  box-shadow: none !important;
}
@media screen and (max-width: 450px) {
  .nav_username {
    display: none;
  }
}
